/*!
 * =====================================================
 * Ratchet v2.0.2 (http://goratchet.com)
 * Copyright 2014 Connor Sears
 * Licensed under MIT (https://github.com/twbs/ratchet/blob/master/LICENSE)
 *
 * v2.0.2 designed by @connors.
 * =====================================================
 */


body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #222;
}

a {
  color: #33b5e5;
}
a:active {
  color: #1a9bcb;
}

.content {
  background-color: #f2f2f2;
}

.bar-nav ~ .content {
  padding-top: 50px;
}

.bar-header-secondary ~ .content {
  padding-top: 100px;
}

.bar-tab ~ .content {
  padding-top: 50px;
  padding-bottom: 0;
}

.bar-footer ~ .content {
  padding-bottom: 50px;
}

.bar-footer-secondary ~ .content {
  padding-bottom: 100px;
}

.btn {
  padding: 8px 15px;
  font-size: 14px;
  color: #222;
  background-color: #cecece;
  border: 0;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .2), inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 1px rgba(0, 0, 0, .25);
          box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .2), inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 1px rgba(0, 0, 0, .25);
}
.btn:active, .btn.active {
  color: #222;
  background-color: #999;
  border: 0;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .2), inset 0 1px 0 rgba(255, 255, 255, .2);
          box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .2), inset 0 1px 0 rgba(255, 255, 255, .2);
}

.btn-primary {
  color: #fff;
  background-color: #33b5e5;
  border: 0;
}
.btn-primary:active, .btn-primary.active {
  color: #fff;
  background-color: #1a9bcb;
  border: 0;
}

.btn-positive {
  color: #fff;
  background-color: #9c0;
  border: 0;
}
.btn-positive:active, .btn-positive.active {
  color: #fff;
  background-color: #739900;
  border: 0;
}

.btn-negative {
  color: #fff;
  background-color: #f44;
  border: 0;
}
.btn-negative:active, .btn-negative.active {
  color: #fff;
  background-color: #f11;
  border: 0;
}

.btn-outlined {
  background-color: transparent;
  border: 1px solid #999;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.btn-outlined.btn-primary {
  color: #33b5e5;
  border: 1px solid #33b5e5;
}
.btn-outlined.btn-primary:active {
  background-color: #33b5e5;
  border: 1px solid #33b5e5;
}
.btn-outlined.btn-positive {
  color: #9c0;
  border: 1px solid #9c0;
}
.btn-outlined.btn-positive:active {
  background-color: #9c0;
  border: 1px solid #9c0;
}
.btn-outlined.btn-negative {
  color: #f44;
  border: 1px solid #f44;
}
.btn-outlined.btn-negative:active {
  background-color: #f44;
  border: 1px solid #f44;
}
.btn-outlined:active {
  background-color: #999;
  border: 1px solid #999;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.btn-outlined.btn-primary:active, .btn-outlined.btn-positive:active, .btn-outlined.btn-negative:active {
  color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-link {
  color: #33b5e5;
  background-color: transparent;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.btn-link:active, .btn-link.active {
  color: #1a9bcb;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-block {
  padding: 15px 0;
  font-size: 18px;
}

.btn .badge {
  background-color: rgba(0, 0, 0, .15);
}
.btn .badge.badge-inverted {
  background-color: transparent;
}
.btn:active .badge {
  color: #fff;
}

.bar {
  height: 50px;
  background-color: #ddd;
  border-bottom: 1px solid #b1b1b1;
  -webkit-box-shadow: inset 0 -2px 0 #d2d2d2, 0 3px 3px rgba(0, 0, 0, .07);
          box-shadow: inset 0 -2px 0 #d2d2d2, 0 3px 3px rgba(0, 0, 0, .07);
}
.bar.bar-header-secondary {
  top: 50px;
}
.bar.bar-footer-secondary {
  bottom: 50px;
}
.bar.bar-footer-secondary-tab {
  bottom: 50px;
}
.bar .bar-footer,
.bar .bar-footer-secondary,
.bar .bar-footer-secondary-tab {
  border-top: 1px solid #b1b1b1;
  border-bottom: 0;
  -webkit-box-shadow: inset 0 -2px 0 #33b5e5;
          box-shadow: inset 0 -2px 0 #33b5e5;
}

.bar-tab {
  top: 0;
  bottom: auto;
  height: 50px;
  border-top: 0;
}
.bar-tab .tab-item {
  color: #929292;
}
.bar-tab .tab-item.active {
  color: #33b5e5;
  -webkit-box-shadow: inset 0 -2px 0 #33b5e5;
          box-shadow: inset 0 -2px 0 #33b5e5;
}
.bar-tab .tab-item:active {
  color: #929292;
  background-color: #78c6e3;
}
.bar-tab .tab-item .icon {
  top: 3px;
  padding-top: 0;
  padding-bottom: 0;
}

.title {
  position: static;
  padding-left: 15px;
  font-size: 18px;
  line-height: 49px;
  text-align: left;
}

.bar .btn {
  top: 7px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.bar .btn-link {
  top: 0;
  padding: 0;
  font-size: 18px;
  line-height: 49px;
  color: #33b5e5;
}
.bar .btn-link:active, .bar .btn-link.active {
  color: #1a9bcb;
}
.bar .btn-link .icon {
  top: 2px;
  padding: 0;
}
.bar .btn-block {
  top: 4px;
}

.bar .segmented-control {
  top: 7px;
}

.bar .icon {
  padding-top: 13px;
  padding-bottom: 13px;
}
.bar .title .icon {
  padding: 0;
}
.bar .title .icon.icon-caret {
  top: 10px;
  color: #777;
}

.bar input[type="search"] {
  height: 35px;
}

.badge.badge-inverted {
  color: #999;
  background-color: transparent;
}

.badge-primary {
  color: #fff;
  background-color: #33b5e5;
}
.badge-primary.badge-inverted {
  color: #33b5e5;
  background-color: transparent;
}

.badge-positive {
  color: #fff;
  background-color: #9c0;
}
.badge-positive.badge-inverted {
  color: #9c0;
  background-color: transparent;
}

.badge-negative {
  color: #fff;
  background-color: #f44;
}
.badge-negative.badge-inverted {
  color: #f44;
  background-color: transparent;
}

.card {
  background-color: transparent;
  border-color: #d9d9d9;
  border-radius: 2px;
}

.table-view {
  background-color: transparent;
}
.table-view .table-view-cell {
  border-bottom: 1px solid #d9d9d9;
}
.table-view .table-view-cell:last-child {
  background-image: none;
}
.table-view .table-view-cell > a:not(.btn):active {
  color: inherit;
  background-color: #e0e0e0;
}
.table-view .table-view-cell > a:not(.btn):active .icon {
  color: #fff;
}
.table-view .table-view-divider {
  padding-top: 25px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: transparent;
  border-top: 0;
  border-bottom: 2px solid #a9a9a9;
}

.table-view-cell .navigate-left > .btn,
.table-view-cell .navigate-left > .badge,
.table-view-cell .navigate-left > .toggle,
.table-view-cell .navigate-right > .btn,
.table-view-cell .navigate-right > .badge,
.table-view-cell .navigate-right > .toggle,
.table-view-cell .push-left > .btn,
.table-view-cell .push-left > .badge,
.table-view-cell .push-left > .toggle,
.table-view-cell .push-right > .btn,
.table-view-cell .push-right > .badge,
.table-view-cell .push-right > .toggle,
.table-view-cell > a .navigate-left > .btn,
.table-view-cell > a .navigate-left > .badge,
.table-view-cell > a .navigate-left > .toggle,
.table-view-cell > a .navigate-right > .btn,
.table-view-cell > a .navigate-right > .badge,
.table-view-cell > a .navigate-right > .toggle,
.table-view-cell > a .push-left > .btn,
.table-view-cell > a .push-left > .badge,
.table-view-cell > a .push-left > .toggle,
.table-view-cell > a .push-right > .btn,
.table-view-cell > a .push-right > .badge,
.table-view-cell > a .push-right > .toggle {
  right: 15px;
}

select,
textarea,
input[type="text"],
input[type="search"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="color"],
.input-group {
  height: 40px;
  padding: 10px 15px;
  border: 1px solid rgba(0, 0, 0, .2);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}

input[type="search"] {
  border-radius: 2px;
}

select,
textarea,
.input-group {
  height: auto;
}

.input-group {
  padding: 0;
  border: 0;
}

.input-group input {
  border: 0;
  border-bottom: 1px solid #d9d9d9;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.input-group input:last-child {
  background-image: none;
}

.input-row {
  height: 40px;
  border-bottom: 1px solid #d9d9d9;
}

.input-row label {
  padding-top: 10px;
  padding-bottom: 10px;
}

.input-row label + input {
  background-image: none;
  border-bottom: 0;
}

.segmented-control {
  font-size: 14px;
  background-color: #cecece;
  border: 0;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .25);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .25);
}
.segmented-control .control-item {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #222;
  border-left: 1px solid #999;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .2), inset 0 1px 0 rgba(255, 255, 255, .2);
          box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .2), inset 0 1px 0 rgba(255, 255, 255, .2);
}
.segmented-control .control-item:first-child {
  border-left-width: 0;
}
.segmented-control .control-item:active, .segmented-control .control-item.active {
  background-color: #999;
}

.segmented-control-primary {
  border: 0;
}
.segmented-control-primary .control-item {
  color: #fff;
  border-color: inherit;
}
.segmented-control-primary .control-item:active, .segmented-control-primary .control-item.active {
  color: #fff;
  background-color: #33b5e5;
}

.segmented-control-positive {
  border: 0;
}
.segmented-control-positive .control-item {
  color: #fff;
  border-color: inherit;
}
.segmented-control-positive .control-item:active, .segmented-control-positive .control-item.active {
  color: #fff;
  background-color: #9c0;
}

.segmented-control-negative {
  border: 0;
}
.segmented-control-negative .control-item {
  color: #fff;
  border-color: inherit;
}
.segmented-control-negative .control-item:active, .segmented-control-negative .control-item.active {
  color: #fff;
  background-color: #f44;
}

.popover {
  top: 47px;
  left: 15px;
  width: 200px;
  margin-left: 0;
  border: 1px solid #9b9b9b;
  border-radius: 0;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .2);
          box-shadow: 0 0 3px rgba(0, 0, 0, .2);
  -webkit-transition: -webkit-transform .1s ease-in-out, opacity .2s ease-in-out;
     -moz-transition:    -moz-transform .1s ease-in-out, opacity .2s ease-in-out;
          transition:         transform .1s ease-in-out, opacity .2s ease-in-out;
  -webkit-transform: scale(.75);
      -ms-transform: scale(.75);
          transform: scale(.75);
}
.popover:before {
  display: none;
}
.popover.visible {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.backdrop {
  background-color: transparent;
}

.popover .bar {
  border-radius: 0;
}
.popover .bar-nav ~ .table-view {
  padding-top: 50px;
}

.popover .table-view {
  border-radius: 12px;
}

.toggle {
  width: 104px;
  height: 28px;
  background-color: #d7d7d7;
  border: 2px solid #d7d7d7;
  border-radius: 0;
}
.toggle .toggle-handle {
  top: 0;
  left: 0;
  width: 50px;
  height: 24px;
  background-color: #bebebe;
  border: 1px solid #b5b5b5;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3), inset 0 -1px 0 rgba(0, 0, 0, .1);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3), inset 0 -1px 0 rgba(0, 0, 0, .1);
}
.toggle:before {
  top: 1px;
  right: auto;
  left: 11px;
  z-index: 3;
  color: #fff;
}
.toggle.active {
  background-color: #d7d7d7;
  border: 2px solid #d7d7d7;
}
.toggle.active .toggle-handle {
  margin-right: 2px;
  background-color: #33b5e5;
  border-color: #33b5e5;
  -webkit-transform: translate3d(50px, 0, 0);
      -ms-transform: translate3d(50px, 0, 0);
          transform: translate3d(50px, 0, 0);
}
.toggle.active:before {
  right: 14px;
  left: auto;
  color: #fff;
}

.navigate-left:after,
.push-left:after {
  content: '';
}

.navigate-right:after,
.push-right:after {
  content: '';
}

.icon-caret:before {
  content: '\e800';
}

.icon-down:before,
.icon-down-nav:before {
  content: '\e801';
}

.icon-download:before {
  content: '\e802';
}

.icon-left:before,
.icon-left-nav:before {
  content: '\e803';
}

.icon-more-vertical:before {
  content: '\e804';
}

.icon-more:before {
  content: '\e805';
}

.icon-right:before,
.icon-right-nav:before {
  content: '\e806';
}

.icon-search:before {
  content: '\e807';
}

.icon-share:before {
  content: '\e808';
}

.icon-up:before,
.icon-up-nav:before {
  content: '\e809';
}
