<h5 class="content-padded">メニュー</h5>
<ul class="table-view">

  <li class="table-view-cell media">
    <a class="navigate-right" href="<%= url_for :controller => 'contacts', :action => 'index' %>" data-transition="slide-in">
      <span class="media-object icon icon-person pull-left"></span>
      <div class="media-body">
        連絡先
      </div>
    </a>
  </li>
  <li class="table-view-cell media">
    <a class="navigate-right" href="<%= url_for :controller => 'accounts', :action => 'index' %>" data-transition="slide-in">
      <span class="media-object icon icon-info pull-left"></span>
      <div class="media-body">
        企業
      </div>
    </a>
  </li>
  <li class="table-view-cell media">
    <a class="navigate-right" href="" data-transition="slide-in">
      <span class="media-object icon icon-star-filled pull-left"></span>
      <div class="media-body">
        案件
      </div>
    </a>
  </li>
</ul>

<h5 class="content-padded">その他</h5>
<ul class="table-view">
  <li class="table-view-cell media">
    <a class="navigate-right" href="inbox.html" data-transition="slide-in">
      <span class="media-object icon icon-gear pull-left"></span>
      <div class="media-body">
        設定
      </div>
    </a>
  </li>
</ul>
