<script>
  function focusOnFirstInput(){
    var e = document.getElementById("contact_last_name")
    e.focus()
  }
  document.body.onload=focusOnFirstInput;
</script>


<% if @contact.errors.any? %>
  <div class="card" id="error_explanation">
    <% @contact.errors.full_messages.each do |message| %>
      <ul class="table_view">
        <li class="table_view-cell">
          <%= message %>
        </li>
      </ul>
    <% end %>
  </div>
<% end %>

<%= form_for @contact, html: {class: "input-group"} do |f| %>

  <div class="input-row">
    <%= f.label I18n.t('models.contact.attributes.last_name') %>
    <%= f.text_field :last_name %>
  </div>

  <div class="input-row">
    <%= f.label I18n.t('models.contact.attributes.first_name') %>
    <%= f.text_field :first_name %>
  </div>

  <div class="input-row">
    <%= f.label I18n.t('models.contact.attributes.email') %>
    <%= f.text_field :email %>
  </div>

  <div class="input-row">
    <%= f.label I18n.t('models.contact.attributes.tel_number') %>
    <%= f.text_field :tel_number %>
  </div>

  <div class="input-row">
    <%= f.label I18n.t('models.contact.attributes.fax_number') %>
    <%= f.text_field :fax_number %>
  </div>

  <div class="input-row">
    <%= f.label I18n.t('models.contact.attributes.address') %>
    <%= f.text_field :address %>
  </div>

  <div class="input-row">
    <%= f.label "所属企業" %>

    <% if @belonging %>
      <%= f.collection_select :id,
        Account.select(:id, :name).order(:name),
        :id,
        :name,
        :selected => @belonging.id %>

    <% else %>
        <%= select_tag 'account_contact[account_id]',
          options_for_select(Account.pluck(:name, :id).unshift(["","none"])) %>
    <% end %>

  </div>

  <div class="content-padded">
    <div class="btn btn-positive btn-block">
      <%= f.submit %>
    </div>
  </div>

  <%= form_cancel_button %>

<% end %>
