<h5 class="content-padded" id="main-breadcum">
  <%= link_to "メニュー", home_index_path %>
  <%= breadcrumb_seperator %>
  <%= link_to I18n.t('models.contact.name'), contacts_path %>
  <%= breadcrumb_seperator %>
  編集
</h5>

<%= render 'submenu_bar' %>
<%= render 'form' %>
