<h5 class="content-padded" id="main-breadcum">
  <a href="<%= url_for :controller => 'home' %>">メニュー</a>
  <%= breadcrumb_seperator %>
  連絡先
</h5>

<div class="content-padded">
  <form>
    <input type="text" name="keyword" placeholder="キーワード">
      <button class="btn btn-positive btn-block">
        <%= I18n.t('operate.search') %>
      </button>
  </form>
</div>

<h5 class="content-padded">検索結果:<%= @all_contacts.size %>件</h5>
<div class="content-padded"><%= paginate @contacts %></div>

<ul class="table-view">
  <% @contacts.each do |contact| %>
  <li class="table-view-cell media">
    <a class="navigate-right" href="<%= url_for contact %>" data-transition="slide-in">
      <div class="media-body">
        <%= contact.last_name + " " + contact.first_name %>
      </div>
    </a>
  </li>
  <% end %>
</ul>

<%= link_bar(new_contact_path, I18n.t('operate.new')) %>
<%= link_bar(home_index_path, I18n.t('operate.back')) %>
