<h5 class="content-padded" id="main-breadcum">
  <%= link_to "メニュー", home_index_path %>
  <%= breadcrumb_seperator %>
  <%= link_to I18n.t('models.contact.name'), contacts_path %>
  <%= breadcrumb_seperator %>
  <%= I18n.t('operate.new') %>
</h5>

<%= render 'form' %>
