<p id="notice"><%= notice %></p>

<%# TODO:ヘルパー化 %>
<h5 class="content-padded" id="main-breadcum">
  <%= link_to "メニュー", home_index_path %>
  <%= breadcrumb_seperator %>
  <%= link_to I18n.t('models.contact.name'), contacts_path %>
  <%= breadcrumb_seperator %>
  詳細
</h5>

<%= render 'submenu_bar' %>

<%# TODO:フォームが冗長なのできれいにしたい%>
<%= form_for(@contact, html: {class: "input-group"}) do |f| %>
  <div class="input-row">
    <label><%= I18n.t('models.contact.attributes.last_name') %></label>
    <input type="text" placeholder="" value="<%= @contact.last_name %>" readonly="true">
  </div>
  <div class="input-row">
    <label><%= I18n.t('models.contact.attributes.first_name') %></label>
    <input type="text" placeholder=""  value="<%= @contact.first_name %>" readonly="true">
  </div>
  <div class="input-row">
    <label><%= I18n.t('models.contact.attributes.email') %></label>
    <input type="email" value="<%= @contact.email %>" readonly="true">
  </div>
  <div class="input-row">
    <label><%= I18n.t('models.contact.attributes.tel_number') %></label>
    <input type="tel" value="<%= @contact.tel_number %>" readonly="true">
  </div>
  <div class="input-row">
    <label><%= I18n.t('models.contact.attributes.fax_number') %></label>
    <input type="tel" value="<%= @contact.fax_number %>" readonly="true">
  </div>
  <div class="input-row">
    <label><%= I18n.t('models.contact.attributes.address') %></label>
    <input type="text" value="<%= @contact.address %>" readonly="true">
  </div>
  <div class="input-row">
    <label><%= "所属企業" %></label>
    <% if @belonging %>
      <a href="<%= url_for(controller: 'accounts', action: 'show', id: @belonging.id) %>">
        <input type="text" value="<%= @belonging.name if @belonging %>" readonly="true">
      </a>
    <% else %>
      <input type="text" readonly="true">
    <% end %>
  </div>
  <div class="input-row">
    <label>登録日</label>
    <input type="text" value="<%= date_ymd(@contact.created_at) %>" readonly="true">
  </div>
  <div class="input-row">
    <label>最終更新日</label>
    <input type="text" value="<%= date_ymd(@contact.updated_at) %>" readonly="true">
  </div>
</form>
<% end %>

<h5 class="content-padded"></h5>

<%= back_bar %>
