<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <title>Eigyo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'ratchet', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'ratchet-theme-android', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'ratchet-theme-ios', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'ratchet', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header class="bar bar-nav">
    <a class="icon icon-refresh pull-right"></a>
    <h1 class="title">営業やろうぜ</h1>
  </header>

  <div class="content">
    <%= yield %>
  </div>

</body>
</html>
