<script>
  function focusOnFirstInput(){
    var e = document.getElementById("contact_last_name")
    e.focus()
  }
  document.body.onload=focusOnFirstInput;
</script>


<% if @account.errors.any? %>
  <div class="card" id="error_explanation">
    <% @account.errors.full_messages.each do |message| %>
      <ul class="table_view">
        <li class="table_view-cell"><%= message %></li>
      </ul>
    <% end %>
  </div>
<% end %>


<%= form_for(@account, html: {class: "input-group"}) do |f| %>

  <div class="input-row">
    <label><%= I18n.t('models.account.attributes.name') %></label>
    <%= f.text_field :name %>
  </div>
  <div class="input-row">
    <label><%= I18n.t('models.account.attributes.tel_number') %></label>
    <%= f.text_field :tel_number %>
  </div>
  <div class="input-row">
    <label><%= I18n.t('models.account.attributes.fax_number') %></label>
    <%= f.text_field :fax_number %>
  </div>
  <div class="input-row">
    <label><%= I18n.t('models.account.attributes.address') %></label>
    <%= f.text_field :address %>
  </div>
  <div class="input-row">
    <label><%= I18n.t('models.account.attributes.website') %></label>
    <%= f.text_field :website %>
  </div>
  <div class="input-row">
    <label><%= I18n.t('models.account.attributes.representative') %></label>
    <%= f.text_field :representative %>
  </div>
  <div class="input-row">
    <label><%= I18n.t('models.account.attributes.capital') %></label>
    <%= f.number_field :capital %>
  </div>

  <div class="content-padded">
    <div class="btn btn-positive btn-block">
      <%= f.submit %>
    </div>
  </div>

  <%= form_cancel_button %>

<% end %>
