<div class="content-padded" id="submenu_bar">
  <div class="segmented-control">

    <%= link_to '詳細',
      @account,
      :class => "control-item",
      :id =>"link_to_show" %>

    <%= link_to '編集履歴',
      history_account_path(@account),
      :class => "control-item",
      :id =>"link_to_history" %>

    <%= link_to '編集',
      edit_account_path(@account),
      :class => "control-item",
      :id =>"link_to_edit" %>

    <%= link_to '削除',
      @account,
      method: :delete,
      data: { confirm: 'Are you sure?' } ,
      :class => "control-item",
      :id =>"link_to_delete" %>

  </div>
</div>
