<h5 class="content-padded" id="main-breadcum">
  <%= link_to "メニュー", home_index_path %>
  <%= breadcrumb_seperator %>
  <%= link_to "企業", accounts_path %>
  <%= breadcrumb_seperator %>
  編集履歴
</h5>

<%= render 'submenu_bar' %>

<% if @histories.size > 0 %>
  <h5 class="content-padded">
    編集履歴:<%= @histories.size %>件
  </h5>
  <% @histories.each do |history| %>
    <form class="input-group">
      <div class="input-row">
        <label>更新日時</label>
        <input type="text" value="<%= datetime_ymdhm(history.updated_at) %>" readonly="true">
      </div>
      <div class="input-row">
        <label><%= I18n.t('models.account.attributes.name') %></label>
        <input type="text" placeholder="" value="<%= history.name %>" readonly="true">
      </div>
      <div class="input-row">
        <label><%= I18n.t('models.account.attributes.tel_number') %></label>
        <input type="tel" value="<%= history.tel_number %>" readonly="true">
      </div>
      <div class="input-row">
        <label><%= I18n.t('models.account.attributes.fax_number') %></label>
        <input type="tel" value="<%= history.fax_number %>" readonly="true">
      </div>
      <div class="input-row">
        <label><%= I18n.t('models.account.attributes.address') %></label>
        <input type="text" value="<%= history.address %>" readonly="true">
      </div>
      <div class="input-row">
        <label><%= I18n.t('models.account.attributes.website') %></label>
        <input type="text" value="<%= history.website %>" readonly="true">
      </div>
      <div class="input-row">
        <label><%= I18n.t('models.account.attributes.representative') %></label>
        <input type="text" value="<%= history.representative %>" readonly="true">
      </div>
      <div class="input-row">
        <label><%= I18n.t('models.account.attributes.capital') %></label>
        <input type="text" value="<%= number_to_currency(history.capital) %>" readonly="true">
      </div>
    </form>
  <% end %>
<% else %>
    <h5 class="content-padded">
      編集履歴はありません
    </h5>
<% end %>

<%= back_bar %>
