<h5 class="content-padded" id="main-breadcum">
  <a href="<%= url_for :controller => 'home' %>">メニュー</a>
  <%= breadcrumb_seperator %>
  企業
</h5>

<div class="content-padded">
  <form>
    <input type="text" name="keyword" placeholder="キーワード">
      <button class="btn btn-positive btn-block">
        <%= I18n.t('operate.search') %>
      </button>
  </form>
</div>

<h5 class="content-padded">検索結果:<%= @all_accounts.size %>件</h5>
<div class="content-padded"><%= paginate @accounts %></div>

<ul class="table-view">
  <% @accounts.each do |account| %>
  <li class="table-view-cell media">
    <a class="navigate-right" href="<%= url_for account %>" data-transition="slide-in">
      <div class="media-body">
        <%= account.name %>
      </div>
    </a>
  </li>
  <% end %>
</ul>

<br>

<%= link_bar new_account_path, I18n.t('operate.new') %>
<%= link_bar(home_index_path, I18n.t('operate.back')) %>
