<h5 class="content-padded" id="main-breadcum">
  <%= link_to "メニュー", home_index_path %>
  <%= breadcrumb_seperator %>
  <%= link_to "企業", accounts_path %>
  <%= breadcrumb_seperator %>
  新規
</h5>

<%= render 'form' %>
