<p id="notice"><%= notice %></p>

<h5 class="content-padded" id="main-breadcum">
  <%= link_to "メニュー", home_index_path %>
  <%= breadcrumb_seperator %>
  <%= link_to "企業", accounts_path %>
  <%= breadcrumb_seperator %>
  詳細
</h5>

<%= render 'submenu_bar' %>

<%= form_for(@account, html: {class: "input-group"}) do |f| %>

  <div class="input-row">
    <label><%= I18n.t('models.account.attributes.name') %></label>
    <%= f.text_field :name, :readonly => true %>
  </div>

  <div class="input-row">
    <label><%= I18n.t('models.account.attributes.tel_number') %></label>
    <%= f.text_field :tel_number, :readonly => true %>
  </div>

  <div class="input-row">
    <label><%= I18n.t('models.account.attributes.fax_number') %></label>
    <%= f.text_field :fax_number, :readonly => true %>
  </div>

  <div class="input-row">
    <label><%= I18n.t('models.account.attributes.address') %></label>
    <%= f.text_field :address, :readonly => true %>
  </div>

  <div class="input-row">
    <label><%= I18n.t('models.account.attributes.website') %></label>
    <%= f.text_field :website, :readonly => true %>
  </div>

  <div class="input-row">
    <label><%= I18n.t('models.account.attributes.representative') %></label>
    <%= f.text_field :representative, :readonly => true %>
  </div>

  <div class="input-row">
    <label><%= I18n.t('models.account.attributes.capital') %></label>
    <%= f.text_field :capital,
      :value => number_to_currency(@account.capital),
      :readonly => true %>
  </div>

  <div class="input-row">
    <label>登録日</label>
    <input type="text" value="<%= date_ymd(@account.created_at) %>" readonly="true">
  </div>

  <div class="input-row">
    <label>最終更新日</label>
    <input type="text" value="<%= date_ymd(@account.updated_at) %>" readonly="true">
  </div>
<% end %>

<% if @contacts.size > 0 %>

  <h5 class="content-padded">
    この企業に所属している連絡先:<%= @contacts.size %>件
  </h5>

  <ul class="table-view">
    <% @contacts.each do |contact| %>
      <li class="table-view-cell media">
        <a class="navigate-right" href="<%= url_for contact %>" data-transition="slide-in">
          <div class="media-body">
            <%= contact.last_name + " " + contact.first_name %>
          </div>
        </a>
      </li>
    <% end %>
  </ul>

<% end %>

<%= link_to 'この企業の連絡先を新規登録',
  new_contact_path(account_id: @account.id) %>

<%= back_bar %>
